body {
  margin: 0;
  overflow: hidden;
}


#viewport{
  background-image: radial-gradient(#919191, #3f3f3f);
}

.teste{
  position: fixed;
  background-color: deeppink;
  width: 100vw;
  height: 50px;
}