body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}


#viewport{
  background-color: #f7f7f7;
}

.teste{
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgb(102, 0, 0);
  width: 100vw;
  height: 50px;
}