body {
  margin: 0;
  overflow: hidden;
}

.menu{
  position: fixed;
  background-color: chocolate;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
#viewport{
  background-image: radial-gradient(#919191, #3f3f3f);
}